.footer-wrap{
    background-color: var(--main-color);
    margin: 0;
    padding: 1px 0px;
}
footer{
    background-color: var(--contrast-color);
    color: var(--main-color);
    margin: 20px 100px;
    text-align: center;
    padding: 10px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
footer p{
    display: flex; align-items: center;
    gap: 10px;
    justify-content: center;
}

@media screen and (max-width: 959px){
    footer{
        --this-size:200px;
        width: var(--this-size);
        height: var(--this-size);
        border-radius: 100vh;
        -webkit-border-radius: 100vh;
        -moz-border-radius: 100vh;
        -ms-border-radius: 100vh;
        -o-border-radius: 100vh;
        margin: 3px auto;
        display: flex;
        align-items: center;
}
    footer p{
        display: block;
        margin: 0px auto;
        padding-top: 40px;
    }
    footer br{
        display: block;
    }footer span{
        margin: 8px auto;
    }
}@media screen and (min-width: 960px){ 
    footer br{
        display: none;
    }
}

footer span{
    border: 2px solid var(--main-color);
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
footer span:hover{
    background-color: var(--main-color); color: var(--contrast-color); border-color: var(--contrast-color);
}

footer span:last-child{ border: none; color: red; }