*{
    margin: 0px;
    padding: 0px;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
    text-transform: lowercase;
}
*:first-letter { text-transform: uppercase; }


::-webkit-scrollbar{
    width: 12px;
    background: var(--contrast-color);
}
::-webkit-scrollbar-thumb{
    background: var(--contrast-color);
    border: 3px solid var(--main-color);
    border-radius: 10px 10px 10px 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--main-color);
    border-color: var(--contrast-color);
}

*::selection {
    background: var(--contrast-color);
    color: var(--main-color);
}
.hidden{ visibility: hidden; }
.quit{ display: none; }
.opaque{opacity: .4;}

body{
    --main-color: rgb(250, 250, 250);
    --contrast-color: rgb(51, 51, 51);

    background-color: rgba(0, 0, 0, 0);
    color: var(--contrast-color);
}
body.dark{
    --main-color: rgb(58, 58, 58);
    --contrast-color: rgb(247, 247, 247);
}

#LiveBg{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -9;
}

.ThemeSelector{
    position: fixed;
    bottom: 2vw;
    right: 2vh;
    border: 2px solid var(--contrast-color);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    cursor: pointer;
    z-index: 999;
    user-select: none;
}
.ThemeSelector span{ padding: 7px; }
.ThemeSelector .active{ display: none;}

section{
    background-color: var(--main-color);
}

h2{
    display: inline-block;
    position: relative;
    padding: 20px;
    font-size: 2.5vw;
    margin-left: 4vw;
    margin-bottom: 6vh;
}section:hover h2{
    rotate: 4deg;
}
h2::before{
    clip-path: polygon(93% 0, 100% 100%, 14% 100%, 0 0);
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 10px;
    background-color: var(--contrast-color);
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}section:hover h2::before{
    width: 120%;
}